/* COLOR STYLING */

/* Tag Selectors */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

.homeButtons button {
  border: 2px solid #676767;
  border-radius: 10%;
  box-shadow: 0px 0px 2px 2px #ccdbd3;
}
.homeButtons button a {
  color: black;
}

body {
  background-color: #ccdbd3;
}

a {
  color: white;
}

P {
  color: white;
}

/* Colors for the page Header. */
header {
  background-color: #ccdbd3;
  color: black;
  border-bottom: 2.5px;
}

header h1 {
  color: black;
}

header a {
  color: black;
}

#headerPara {
  color: black;
}

/* Colors for Sections of the page. */
section {
  background-color: #676767;
  border: 5px solid #ccdbd3;
  border-radius: 25px;
  box-shadow: 0px 0px 5px 0px rgba(38, 38, 38, 0.5);
}

/* Provides circular border for the profile picture. */
#moody-headshot {
  border: 5px solid #676767;
  border-radius: 50%;
  box-shadow: 0px 0px 2px 2px #ccdbd3;
}

#moody-music {
  border: 5px solid #676767;
  border-radius: 10%;
  box-shadow: 0px 0px 2px 2px #ccdbd3;
  width: 350px;
  max-width: 50vw;
  height: auto;
  margin: 10px 10px 10px 15px;
}

/* Provides a border for class .card */
.card {
  margin: 20px 10px;
  border: 5px inset white;
  box-shadow: 0px 0px 5px 3px #f7f2dc;
}

#featured-app {
  color: black;
}

/* Provides a border for the featured web app's picture. */
#featuredapp-pic {
  border: 2.5px solid #676767;
}

#moreApps {
  margin: 15px 0;
  font-family: "Overpass", sans-serif;
  font-size: 1.2em;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  background-color: #ccdbd3;
  cursor: pointer;
  border: 3px solid;
  border-radius: 10%;
  padding: 0.5em 0.5em;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#moreApps:hover {
  box-shadow: 0px 0px 5px 3px #f7f2dc;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  #moreApps {
    padding: 0.25em 0.75em;
  }
}

#featuredApp-btn {
  margin: 15px 0;
  font-family: "Overpass", sans-serif;
  font-size: 1.2em;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  background-color: #ccdbd3;
  cursor: pointer;
  border: 3px solid;
  border-radius: 10%;
  padding: 0.5em 0.5em;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#featuredApp-btn:hover {
  box-shadow: 0px 0px 5px 3px #f7f2dc;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  #featuredApp-btn {
    padding: 0.25em 0.75em;
  }
}

/* Colors for the page's Footer. */
footer {
  background-color: #ccdbd3;
  border-top: 2.5px solid black;
  colo: black;
}

footer p {
  margin: 10px 0;
  color: black;
}

#contactme-id a:hover {
  color: #ccdbd3;
}

/* POSITION STYLING */

/* UNIVERSAL */
* {
  overflow-x: hidden;
}

/* TAGS */
body {
  margin: auto;
  width: 100vw;
}

p {
  margin: 10px 10px;
  max-width: 45vw;
  text-align: justify;
}

/* Header Positioning */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  margin: 5px 5px;
}

header h1 {
  margin: 10px 20px;
}

header nav a {
  display: inline;
  margin: 10px 10px;
}

#headerText {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center; 
}

/* SECTIONS */

/* Provides styling for all sections. */
section {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  justify-content: center;
  align-items: center;
}

section h2 {
  padding: 10px;
  margin: 5px 10px;
  height: auto;
  align-self: stretch;
  text-align: center;
}

/* Styles the About Me section of the page. */

#aboutme-article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#aboutmeText {
  display: flex;
}

#work-article {
  padding: 20px 0;
}

#moody-headshot {
  width: 350px;

  max-width: 50vw;
  height: auto;
  margin: 10px 10px 10px 15px;
}

.homeButtons {
  display: flex;
  justify-content: center;
  margin: 10px 10px;
  padding: 5px 5px;
}

.homeButtons button {
  margin: 10px 10px;
}

.homeButtons button:hover {
  box-shadow: 0px 0px 5px 3px #f7f2dc;
  top: 5px;
  left: 5px;
}

/* Styles the Work section of the page. */
section#work-id {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* Hides the h2 for mobile viewing. Referenced in "./other.css" for media query.  */
#h2-work-mobile {
  display: none;
}

/* Class selectors for Work section. */
.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 10px 10px;
  text-align: center;
  max-width: 50vw;
}

.card a h3 {
  margin: 15px 5px;
}

/* Hides the h5 for mobile viewing. Referenced in "./other.css" for media query. */
.card a h5 {
  display: none;
}

.app-description {
  display: block;
}

/* Styles the featured web application. */
#featured-app {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#featuredapp-pic {
  height: auto;
  width: 1000px;
  margin: 5px 10px;
  max-width: 65vw;
}

/* Styles the other web applications. */
#other-app {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.other-app-pic {
  height: auto;
  width: 350px;
  max-width: 85vw;
  margin: 5px 10px;
}

/* Styles the Contact Me section of the page. */
.contactme {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
}

.contactme a {
  margin: 7px 7px;
}

#contactme-id {
  justify-content: center;
}

#contactOptions {
  display: flex;
  flex-direction: row;
}

/* Styles the footer of the page. */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  margin: 0;
}

/* TYPOGRAPHY STYLING */

a {
  text-decoration: none;
  font-family: "Overpass", sans-serif;
}

p {
  font-family: "Overpass", sans-serif;
  font-size: 1.1em;
  font-weight: 600;
  line-height: 1.5em;
}

header h1 {
  font-family: "Cedarville Cursive", cursive;
  font-size: 3em;
}

header a {
  font-family: "Overpass", sans-serif;
  font-size: 1.2em;
}

#headerPara {
  font-family: "Overpass Mono", monospace;
  font-size: 1em;
}

section h2 {
  font-family: "Overpass", sans-serif;
  font-size: 2em;
}

#aboutmeText {
  font-family: "Overpass", sans-serif;
  font-size: 1.1em;
  font-weight: 600;
  line-height: 1.5em;
  padding: 50px 0 25px 0;
}

#aboutmeCTA {
  display: block;
  text-align: center;
  font-size: 2em;
  line-height: 1.5em;
}

.homeButtons button a {
  font-family: "Overpass", sans-serif;
  font-size: 1.2em;
}

#work-article {
  text-align: center;
}

.app-description {
  text-align: center;
  font-weight: 12pt;
}

.card a h6 {
  text-align: center;
}

footer p {
  font-family: "Overpass", sans-serif;
  font-size: 1.2em;
}
/* OTHER STYLING */

/* Creates a smooth scrolling effect using nav to jump to different page sections.  */
html {
  scroll-behavior: smooth;
}
/* ANNIMATION FUN */

#animationContainer {
  display: block;
}

/* Found online at https://www.sliderrevolution.com/resources/css-text-animation/ */
@import url(https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@700&display=swap);
body {
  background: #676767;
}
.hidden {
  opacity: 0;
}
.console-container {
  font-family: "Ubuntu Mono", monospace;
  font-size: 3em;
  text-align: right;
  height: 85px;
  max-width: 80vw;
  display: block;
  color: white;
  margin: 10px 20px;
}
.console-underscore {
  display: inline-block;
}

/* MEDIA QUERIES -- for responsive sizing */

@media only screen and (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    width: 100vw;
    margin: 0 2.5px;
  }

  header {
    flex-direction: column;
    justify-content: center;
  }

  h1 {
    text-align: center;
    padding: 10px 0;
  }

  header a {
    margin-top: 5px;
  }

  /* Responsive parameters for About Me section of the page. */
  .console-container {
    font-family: "Overpass Mono", monospace;
    font-size: 2em;
    text-align: right;
    height: 75px;
    max-width: 80vw;
    display: flex;
    color: white;
    margin: 10px 20px;
    overflow-y: hidden;
  }

  #aboutme-id {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  #aboutme-article {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100vw;
    height: auto;
    font-size: smaller;
    overflow-y: hidden;
  }

  #moody-headshot {
    max-width: 75vw;
    height: auto;
    margin: 10px 10px 10px 15px;
  }

  #moody-music {
    max-width: 75vw;
    height: auto;
    margin: 10px 10px 10px 15px;
  }

  /* Responsive parameters for Work section of the page. */

  /* Class selectors for Work section of the page. */
  /* .card {
    height: auto;
    display: flex;
    flex-direction: column;
    width: 350px;
    max-width: 85vw;
    justify-content: center;
  } */

  .card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px 10px;
    text-align: center;
    max-width: 50vw;
    overflow-wrap: break-word;
  }

  /* Hides h3 to make room for an h5. */
  .card a h3 {
    display: none;
  }

  /* Displays h5 where the former h3 was. */
  .card a h5 {
    display: block;
    margin: 5px 5px;
  }

  #featured-app {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* Hides original h2 to make room for the mobile h2. */
  #featured-app h2 {
    display: none;
  }

  #h2-work {
    display: none;
  }

  /* Tells the mobile h2 to display on the page. */
  #h2-work-mobile {
    display: block;
  }

  /* Resizes featured web app to be the same as the other apps when in mobile view. */
  #featuredapp-pic {
    width: 350px;
    height: auto;
  }

  #other-app {
    flex-direction: column;
    flex-wrap: wrap;
  }

  /* Responsive parameters for Contact Me section of the page. */
  .contactme h4 {
    font-size: smaller;
  }
}
